<header>
	<section class="lazy-bg">
		<div class="container">
			<a href="#top" class="link-deco-none">
				<div class="row" data-aos="fade-right" id="name">
					<div class="col-lg-5 offset-lg-1 mb-2">
						<h1>Rebecca Ao</h1>
					</div>
				</div>
				<div class="row" data-aos="fade-left" id="sub">
					<div class="col-lg-8 offset-lg-3 text-right">
						<p>Front-end web developer based in Sydney, Australia</p>
					</div>
				</div>
			</a>
	</section>
	{% include navigation.html %}
</header>