<header id="header-main">
	<section class="lazy-bg">
		<div class="container">
			<a href="#top" class="link-deco-none">
				<div class="row" data-aos="fade-right" data-aos-once="true" id="name">
					<div class="col-lg-5 mb-2">
						<h1>Rebecca Ao</h1>
					</div>
				</div>
				<div class="row" data-aos="fade-left" data-aos-once="true" id="sub">
					<div class="col-lg-10 offset-lg-2 text-right">
						<p>Front-end software engineer from Sydney, Australia. <br class="d-lg-none">Currently based in Tokyo, Japan</p>
					</div>
				</div>
			</a>
	</section>
	{% include navigation.html %}
</header>