<footer>
    <div class="container">
        <div class="row">
            <div class="col text-right">
                <a href="https://github.com/rbccaao/rbccaao.github.io" target="_blank">
                    <p>
                        View this site's source on Github
                        <i class="fas fa-external-link-alt"></i>
                        <span class="sr-only">opens in new window</span>
                    </p>
                </a>
            </div>
        </div>
    </div>
</footer>