<nav id="nav-bar" class="navbar navbar-expand sticky-top">
	<div class="container">
		<a class="navbar-brand" href="#">Home</a>
		<div class="nav-list collapse navbar-collapse justify-content-end">
			<a class="nav-link active" href="#about">About</a>
			<a class="nav-link" href="#skills">Skills</a>
			<a class="nav-link" href="#projects">Projects</a>
			<a class="nav-link" href="#other">Other</a>
			<a class="nav-link" href="#contact">Contact</a>
			<div class="indicator"></div>
		</div>
	</div>
</nav>
