$white:				#ffffff;
$yellow: 			#ffcc00;
$orange:			#d35400;
$brown:				#382600;
$light-grey:		#f6f6f6;
$dark-grey: 		#252a2a;


$text-color:		$brown;
$link-color: 		$yellow;
$link-color-hover: 	$orange;
$link-color-active: $orange;
$highlight-color:	$white;


$section-padding: 	5rem;
$text-margin:		1.5rem;


$heading-font-family:		'Roboto Slab', serif;
$heading-font-size:			5rem;

$p-lead-font-family:		'Roboto', serif;
$p-lead-font-size:			2rem;
$p-lead-font-weight:		400;
