$white:				#ffffff;
$yellow: 			#ffcc00;
$orange:			#d35400;
$brown:				#382600;
$light-grey:		#f6f6f6;
$dark-grey: 		#252a2a;

$text-color:			$brown;
$link-color: 			$yellow;
$link-color-hover: 		$orange;
$link-color-active: 	$orange;
$highlight-color:		$white;
$nav-link-color-active: $white;


$base-font-size:			16px;
$base-font-size-md:			14px;
$base-font-size-sm:			12px;

$heading-font-family:		'Roboto Slab', serif;
$heading-font-size:			5em;

$p-lead-font-family:		'Roboto', serif;
$p-lead-font-size:			2em;
$p-lead-font-weight:		400;


$section-padding: 			3em;
$text-margin:				1.5em;

$default-transition:		0.5s ease-in-out;
