header {
	display: flex;
	flex-direction: column;
	height: $banner-height;
	background-color: $nav-bar-bg;
	pointer-events: none;
	& * {
		pointer-events: auto;
	}

	section {
		display: flex;
		flex: 1;
		transition: $fast-transition;
		background-image: url('../images/banner-gray.jpg');
		background-position: center;
		text-shadow: 1px 1px 0 $white;
		.container {
			@include transparent-bg-weak($black);
			transition: $fast-transition;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			max-width: 100%;
			padding: 0;
		}
		h1 {
			font-family: $heading-font-family;
			font-size: $heading-font-size-1;
		}
		p.lead {
			font-family: $sub-font-family;
			font-size: $sub-font-size;
		}
		hr {
			border-color: rgba($white, 0.5);
			width: 50%;
			margin: $text-margin auto;
		}
	}
	&:not(.sm) section {
		@extend %clear-link-decoration;
	}

	&.sm {
		background-color: transparent;
		section {
			flex: $banner-height-sm 0 1;
			.container {
				@include transparent-bg-strong($black);
				font-size: $base-font-size-sm;
			}
			hr, p.lead {
				display: none;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	header {
		height: $banner-height-md;
		min-height: 20em;

		section {
			font-size: $base-font-size-md;
		}
	}
}
