header {
	display: flex;
	flex-direction: column;
	height: $banner-height;
	background-color: $nav-bg;
	pointer-events: none;
	& * {
		pointer-events: auto;
	}

	section {
		display: flex;
		flex: 1;
		transition: $transition-default;
		background-position: center;
		&.lazy-bg-loaded {
			background: url('../images/banner.jpg');
		}
		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			padding-top: 0;
			padding-bottom: 0;
			.row > * {
				transition: $transition-default;
				background-color: $off-black;
				padding: 1rem 2rem;
				* {
					margin-bottom: 0;
				}
			}
		}
		h1 {
			@include text-line(right);
			font-family: $banner-heading-font-family;
			font-size: $banner-heading-font-size;
		}
		p {
			@include text-line(left);
			font-family: $banner-sub-font-family;
			font-size: $banner-sub-font-size;
			line-height: 1.5;
		}
		a {
			color: $banner-color;
			&:hover, &:focus, &.active {
				color: $banner-hover-color;
				*::before, *::after {
					background-color: $banner-hover-color;
				}
			}
		}
	}

	&.sm {
		background-color: transparent;
		section {
			flex: $banner-height-sm 0 1;
			.container {
				font-size: $font-size-sm;
				max-width: 100%;
				padding-top: 0;
				padding-bottom: 0;
				#name {
					height: 100%;
					> * {
						@include transparent-bg($off-black);
						margin: 0 !important;
						text-align: center;
						max-width: 100%;
						flex-basis: 100%;
					}
				}
				#sub {
					display: none;
				}
			}
			h1 {
				display: block;
				&::after {
					content: none;
				}
			}
			a {
				height: 100%;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	header {
		height: $banner-height-md;
		min-height: 20rem;
		section {
			font-size: $font-size-sm;
		}
	}
}
