.flipbox {
    background-color: black;
    transition: transform $transition-default;
    transform-style: preserve-3d;
    &.unflipped {
        .flip-front {
            transform: rotateY(0deg);
        }
        .flip-back {
            display: none;
        }
    }
    &.flipped {
        transform: rotateY(180deg);
        .flip-front {
            display: none;
            
        }
        .flip-back {
            transform: rotateY(180deg);
        }
    }
}
.flipbox>* {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

button[class*="flipboxbutton"] {
    transition: $transition-default;
    &:hover, &:focus, &.active {
        transform: rotateY(180deg);
    }
}

.flipboxbuttonback {
    transform: rotateY(180deg);
    &:hover, &:focus, &.active {
        transform: rotateY(0deg) !important;
    }
}
