body {
    color: $text-color;
}

a {
    color: $link-color;
    &:hover,&:focus, &:active, &.active {
    	color: $link-color-active;
    }
}

section:nth-child(odd) {
    background-color: #ffcc00;
}

section.parallax {
    background-color: rgba(255, 204, 0, 0.2);
    color: $white;
}

section > .container {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
}

.container.container-half-page {
    min-height: 50vh;
}
