html {
	font-size: $base-font-size;
}

body {
	font-size: $base-font-size;
	color: $text-color;
	position: relative;
}

p.lead {
	font-size: $p-lead-font-size;
	font-weight: $p-lead-font-weight;
}

a {
	color: $link-color;
	&:hover, &:focus, &.active {
		color: $link-color-active;
	}
}

.text-white, .text-white a {
	color: $white !important;
}

.height-page-75 {
	min-height: 75vh;
}
.height-page-50 {
	min-height: 50vh;
}

section {
	position: relative;
}
section:nth-child(even) {
	background-color: $light-grey;
}
section:nth-child(odd) {
	background-color: $yellow;
}
section.parallax {
	background-color: unset;
}
section .container {
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	align-self: center;
}

a.anchor {
	display: block;
	position: absolute;
	top: -$banner-size-sm;
	&:before {
		content: "x";
		visibility: hidden;
	}
}
