html {
	font-size: $base-font-size;
}

body {
	font-size: $base-font-size;
	color: $text-color;
	position: relative;
}

p.lead {
	font-size: $p-lead-font-size;
	font-weight: $p-lead-font-weight;
}

a {
	color: $link-color;
	&:hover, &:focus, &.active {
		color: $link-color-active;
	}
}

hr {
	border-color: rgba($white, 0.5);
	width: 50%;
	margin: $text-margin auto;
}

.height-page-75 {
	min-height: 75vh;
}
.height-page-50 {
	min-height: 50vh;
}

section {
	display: flex;
}
section:nth-child(odd) {
	background-color: $light-grey;
}
section:nth-child(even) {
	background-color: $yellow;
}
section.parallax {
	background-color: unset;
}
section > .container {
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	align-self: center;
}

section#about {
	display: flex;
	align-items: center;
	color: $white;
	text-shadow: 2px 2px 2px $brown;
	h1 {
		font-family: $heading-font-family;
		font-size: $heading-font-size;
	}
	.box {
		@include transparent-bg($brown);
		border: 1px solid $light-grey;
		padding: 7.5em;
	}
}

@include media-breakpoint-down(md) {
	section#about {
		@include transparent-bg($brown);
		font-size: 10px;
		.box {
			@include reset;
		}
	}
}
