%clear-link-decoration {
	a {
		&:hover, &:focus, &.active {
			text-decoration: none;
			outline: 0;
		}
	}
}

@mixin transparent-bg($color) {
	background-color: rgba($color, 0.8);
}

@mixin border($side:null) {
	border-width: 0;
	@if $side == 'y' {
		border-top-width: $border-width;
		border-bottom-width: $border-width;
	}
	@else if $side == 'x' {
		border-left-width: $border-width;
		border-right-width: $border-width;
	}
	@else if $side == 'null' {
		border-width: $border-width;
	}
	@else {
		border-#{$side}: $border-width;
	}
	border-style: solid;
	border-color: $border-color;
}

@mixin text-line($side) {
	display: flex;
	&::before, &::after {
		background-color: $yellow;
		flex: 1;
		height: 1px;
		align-self: center;
	}
	@if $side == 'left' {
		&::before {
			content: "";
			margin-right: 1rem;
		}
	}
	@else if $side == 'right' {
		&::after {
			content: "";
			margin-left: 1rem;
		}
	}
}