%clear-link-decoration {
	a {
		&:hover, &:focus, &.active {
			text-decoration: none;
			outline: 0;
		}
	}
}

@mixin transparent-bg-weak($color) {
	background-color: rgba($color, 0.3);
}
@mixin transparent-bg-strong($color) {
	background-color: rgba($color, 0.5);
}

@mixin border($side:null) {
	border-width: 0;
	@if $side == 'y' {
		border-top-width: $border-width;
		border-bottom-width: $border-width;
	}
	@else if $side == 'x' {
		border-left-width: $border-width;
		border-right-width: $border-width;
	}
	@else if $side == 'null' {
		border-width: $border-width;
	}
	@else {
		border-#{$side}: $border-width;
	}
	border-style: solid;
	border-color: $border-color;
}
