#navbar {
	background-color: $nav-bg;
	z-index: $zindex-fixed;
	padding: 0;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
	.navbar-nav {
		position: relative;
		flex-direction: row;
		margin: auto;
        border: 0;
        margin-top: 1px;
        margin-bottom: 1px;
		li.nav-item {
			text-align: center;
		}
		a.nav-link {
			color: $nav-link-color;
            text-decoration: none;
            padding: 0.5rem 2rem;
			&:hover, &:focus, &.active {
				color: $nav-link-active-color;
				outline: 0;
			}
		}
	}

	.indicator-hover, .indicator-active {
		display: none;
		position: absolute;
		left: 0;
		bottom: 0;
		transition: $transition-slow;
	}
	.indicator-hover {
		border-bottom: 1px solid $nav-link-active-color;
	}
	.indicator-active:after {
		$arrow-size: 5px;
		content: "";
		position: absolute;
		width: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		border-left: $arrow-size solid transparent;
		border-right: $arrow-size solid transparent;
		border-bottom: $arrow-size solid $nav-link-active-color;
	}
}


@include media-breakpoint-down(sm) { 
    #navbar {
        .container, .navbar-nav {
            padding: 0;
        }
    }
}
