@include media-breakpoint-down(md) { 
	html {
		// font-size: $font-size-sm;
	}
	.grid-container {
		grid-template-columns: 1fr 1fr;
		.card {
			grid-row-end: span 1 !important;
		}
		.card-img-wrapper {
			max-height: 200px !important;
		}
	}
	ul.list-grid, ol.list-grid {
		grid-template-columns: auto auto auto;
	}
	.modal {
		padding-left: 17px;
		.modal-dialog {
			max-width: none;
		}
	}
}
@include media-breakpoint-down(sm) { 
	html {
		// font-size: $font-size-sm;
	}
	.lead.quote {
		font-size: $lead-quote-font-size * 0.8;
		padding-left: $styled-border-spacing * 0.5;
		padding-right: $styled-border-spacing * 0.5;
		&::before, &::after {
			content: "";
		}
	}
	.grid-container {
		grid-template-columns: auto;
		> div {
			grid-area: auto / auto / auto / auto !important;
		}
	}
	ul.list-grid, ol.list-grid {
		grid-template-columns: auto auto;
	}
}
