@include media-breakpoint-down(md) { 
	html {
		// font-size: $font-size-sm;
	}
	.grid-container {
		grid-template-columns: auto auto;
	}
}
@include media-breakpoint-down(sm) { 
	html {
		// font-size: $font-size-sm;
	}
	.grid-container {
		grid-template-columns: auto;
		> div {
			grid-area: auto / auto / auto / auto !important;
		}
	}
	[class*="list-column-"] {
		columns: 1;
	}
	.list-inline-item {
		display: block;
		margin: 0 !important;
		&:not(:last-child):after {
			content: "";
		}
	}
	.carousel-item img {
		height: auto;
	}
}
