@include media-breakpoint-down(md) { 
	html {
		font-size: $base-font-size-md;
	}

	.height-page-75, .height-page-50 {
		min-height: 0;
	}
}
@include media-breakpoint-down(sm) { 
	html {
		font-size: $base-font-size-sm;
	}
	.list-column {
		columns: 1;
	}
	.list-inline-item {
		display: block;
		margin: 0 !important;
		&:not(:last-child):after {
			content: "";
		}
	}
}
