<section class="cta flipbox unflipped">
    <div class="row square-grid flip-front no-gutters">
        <div class="col-6 col-md-3">
            <div class="card square">
                <div class="square-content rounded justify-content-center align-items-center">
                    <a href="https://rbccaao.github.io/" class="link-deco-none" target="_blank">
                        <svg class="icon-portfolio" width="94.963mm" height="93.171mm" version="1.1" viewBox="0 0 94.963 93.171" xmlns="http://www.w3.org/2000/svg">
                            <g transform="translate(-70.844 -96.498)">
                            <path d="m73.344 98.998c4.2729 8.8857 10.852 15.465 19.738 19.738" fill="none" stroke="#a68118" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="5"/>
                            </g>
                            <g transform="translate(-70.844 -96.498)">
                            <path d="m155.31 98.927c18.04 5.6983 11.577 81.007-9.7805 65.589-21.357-15.418-12.452-8.5541-16.814-11.943 3.3889 4.3619-3.4745-4.5436 11.943 16.814 15.418 21.357-59.891 27.82-65.589 9.7805-0.81396-3.0377 4.4097-43.612 14.809-62.224 0.34016-0.60881 0.76807-1.1814 1.2599-1.6941 0.57448-0.5988 1.2362-1.1158 1.9473-1.5131 18.613-10.399 59.187-15.623 62.224-14.809z" fill="#f9bb00"/>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card square">
                <div class="square-content rounded justify-content-center align-items-center">
                    <a href="https://github.com/rbccaao/" class="link-deco-none" target="_blank">
                        <i class="fab fa-5x fa-fw fa-github"></i>
                        <span class="sr-only">Github page, opens in new window</span>
                    </a>                
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card square">
                <div class="square-content rounded justify-content-center align-items-center">
                    <a href="https://www.linkedin.com/in/rebecca-ao-10b8b373/" class="link-deco-none" target="_blank">
                        <i class="fab fa-5x fa-fw fa-linkedin-in"></i>
                        <span class="sr-only">LinkedIn profile, opens in new window</span>
                    </a>                
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card square">
                <div class="square-content rounded justify-content-center align-items-center">
                    <a href="mailto:rbccaao@gmail.com">
                        <i class="far fa-5x fa-fw fa-envelope"></i>
                        <span class="sr-only">Send me an email</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 py-0">
            <button type="button" class="btn btn-link flipboxbuttonfront text-white">
                <i class="bi bi-arrow-left-right h4"></i>
            </button>
        </div>
    </div>
    <div class="row square-grid flip-back no-gutters">
        <div class="col-12 col-md-3 m-auto">
            <div class="card square">
                <div class="square-content rounded justify-content-center align-items-center">
                    <button type="button" class="btn btn-link" id="qr-code">
                        <span class="sub-text d-block d-md-none">Scan or click to share this page!</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 py-0">
            <button type="button" class="btn btn-link flipboxbuttonback text-white">
                <i class="bi bi-arrow-left-right h4"></i>
            </button>
        </div>
    </div>
</section>
