<section class="cta">
  <div class="row square-grid flip-front no-gutters justify-content-center">
    <div class="col-6 col-md-3">
      <div class="card square">
        <div
          class="square-content rounded justify-content-center align-items-center"
        >
          <a
            href="https://www.linkedin.com/in/rebecca-ao-10b8b373/"
            class="link-deco-none"
            target="_blank"
          >
            <i class="fab fa-5x fa-fw fa-linkedin-in"></i>
            <span class="sr-only">LinkedIn profile, opens in new window</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="card square">
        <div
          class="square-content rounded justify-content-center align-items-center"
        >
          <a href="mailto:rbccaao@gmail.com">
            <i class="far fa-5x fa-fw fa-envelope"></i>
            <span class="sr-only">Send me an email</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card square">
        <div
          class="square-content rounded justify-content-center align-items-center"
        >
          <button type="button" class="btn btn-link" id="qr-code"></button>
        </div>
      </div>
    </div>
  </div>
</section>
