<section class="cta flipbox unflipped">
    <div class="row square-grid flip-front">
        <div class="col-6 col-md-3">
            <div class="card square">
                <div class="square-content rounded justify-content-center align-items-center">
                    <a href="https://rbccaao.github.io/" class="link-deco-none" target="_blank">
                        <img src="/images/icon.png" class="icon-portfolio">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card square">
                <div class="square-content rounded justify-content-center align-items-center">
                    <a href="https://github.com/rbccaao/" class="link-deco-none" target="_blank">
                        <i class="fab fa-5x fa-fw fa-github"></i>
                        <span class="sr-only">Github page, opens in new window</span>
                    </a>                
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card square">
                <div class="square-content rounded justify-content-center align-items-center">
                    <a href="https://www.linkedin.com/in/rebecca-ao-10b8b373/" class="link-deco-none" target="_blank">
                        <i class="fab fa-5x fa-fw fa-linkedin-in"></i>
                        <span class="sr-only">LinkedIn profile, opens in new window</span>
                    </a>                
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card square">
                <div class="square-content rounded justify-content-center align-items-center">
                    <a href="mailto:rbccaao@gmail.com">
                        <i class="far fa-5x fa-fw fa-envelope"></i>
                        <span class="sr-only">Send me an email</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row square-grid flip-back">
        <div class="col">
            <div class="card square">
                <div class="square-content rounded justify-content-center align-items-center">
                    <p>QR code goes here!</p>
                </div>
            </div>
        </div>
    </div>
</section>
