<section id=section-about>
    <a class="anchor" id="about"></a>
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-8">
                <h2 class="sr-only">About me</h2>
                <p class="lead quote" data-aos="fade-up">My passion as a front-end software engineer is to connect design with functionality.</p>
                <p>I am a software engineer specialising in front-end development and UI/UX design. I am currently working at <a href="https://recursiveai.co.jp/en" target="_blank" class="external-link">Recursive</a>, a start-up company based in Tokyo, Japan that provides sustainable AI solutions to Japanese companies.</p>
                <p>Previously, I worked at NAB (National Australia Bank)'s Digital Wealth department as a front-end developer and content manager in various projects and scrum teams. I moved to Japan to participate in the <a href="http://jetprogramme.org/en/" target="_blank" class="external-link">JET Programme</a> as an ALT (Assistant Language Teacher) for three years. </p>
                <p>On the side, I spend my time on personal projects, some of which can be found on my <a href="https://github.com/rbccaao/"  target="_blank" class="external-link">GitHub</a>. </p>
            </div>
            <div class="col-lg-3 offset-lg-1 col-sm-4 col-4 p-3 d-flex align-items-center justify-content-center">
                <div id="headshot" class="position-relative">
                    <img id="headshot-photo" src="/images/headshot.jpg" alt="Headshot photo" class="rounded-circle w-100">
                    <span id="headshot-credits" class="d-flex position-absolute align-items-center justify-content-center text-white text-center rounded-circle">Photo by<br>Philippe Rosa-Pong</span>
                </div>
            </div>
        </div>
    </div>
</section>