<section id=section-about>
    <a class="anchor" id="about"></a>
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-8">
                <h2 class="sr-only">About me</h2>
                <p class="lead quote" data-aos="fade-up">My passion as a front-end web developer is to connect design with functionality.</p>
                <p>Between 2015 to 2019, I worked at NAB (National Australia Bank)'s Digital Wealth department in various scrum teams alongside UX/UI designers and back-end developers to create the best experience for the user.</p>
                <p>I am currently participating in the <a href="http://jetprogramme.org/en/" target="_blank" class="external-link">JET Programme</a> as an ALT (Assistant Language Teacher) based in Tokyo, Japan.</p>
            </div>
        </div>
    </div>
</section>