<section>
    <a class="anchor" id="about"></a>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="sr-only">About me</h2>
                <p class="lead">My passion as a front-end web developer is to connect design with functionality. I
                    currently work
                    at
                    NAB (National Australia Bank) in a scrum team alongside UX/UI designers and other developers to
                    create the best
                    experience for the user. </p>
            </div>
        </div>
    </div>
</section>