<section id="section-contact">
    <a class="anchor" id="contact"></a>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="sr-only">Get in touch</h2>
                <p>
                    <a href="mailto:rbccaao@gmail.com" class="link-deco-none alternate">
                        <i class="fas fa-3x fa-fw fa-envelope"></i>
                        <span class="sr-only">Email rbccaao@gmail.com, opens in email client</span>
                    </a>
                    <a href="https://www.linkedin.com/in/rebecca-ao-10b8b373/" class="link-deco-none alternate" target="_blank">
                        <i class="fab fa-3x fa-fw fa-linkedin-in"></i>
                        <span class="sr-only">LinkedIn profile, opens in new window</span>
                    </a>
                    <a href="https://github.com/rbccaao/" class="link-deco-none alternate" target="_blank">
                        <i class="fab fa-3x fa-fw fa-github"></i>
                        <span class="sr-only">Github page, opens in new window</span>
                    </a>
                </p>
                <p class="mb-0">
                    <a href="https://github.com/rbccaao/rbccaao.github.io" target="_blank" class="external-link">View this site's source on Github</a>
                </p>
            </div>
        </div>
    </div>
</section>