<section id="section-contact">
    <a class="anchor" id="contact"></a>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="sr-only">Get in touch</h2>
                <p>
                    <button type="button" class="btn btn-link link-deco-none link-alternate align-baseline p-0" data-toggle="modal" data-target="#contact-form-modal">
                        <i class="fas fa-3x fa-fw fa-envelope"></i>
                        <span class="sr-only">Send me a message, opens form in a modal</span>
                    </button>
                    <a href="https://www.linkedin.com/in/rebecca-ao-10b8b373/" class="link-deco-none link-alternate" target="_blank">
                        <i class="fab fa-3x fa-fw fa-linkedin-in"></i>
                        <span class="sr-only">LinkedIn profile, opens in new window</span>
                    </a>
                    <a href="https://github.com/rbccaao/" class="link-deco-none link-alternate" target="_blank">
                        <i class="fab fa-3x fa-fw fa-github"></i>
                        <span class="sr-only">Github page, opens in new window</span>
                    </a>
                </p>
                <p class="mb-0">
                    <a href="https://github.com/rbccaao/rbccaao.github.io" target="_blank" class="external-link">View this site's source on Github</a>
                </p>
                {% include index/contact-form-modal.html %}
            </div>
        </div>
    </div>
</section>