<button type="button" class="card-button btn" data-toggle="modal" data-target="#{{ include.name }}-modal">
    <div class="card-img-wrapper">
        <img class="card-img-top" src="../../images/projects/{{ include.name }}-main.png" alt="{{ include.name }} screenshot">
    </div>
    <div class="card-body align-self-stretch">
        <h3 class="card-title">{{ include.title }}</h3>
        <p class="card-text">{{ include.description }}</p>
    </div>
</button>
<div class="modal fade" id="{{ include.name }}-modal" tabindex="-1" role="dialog" aria-labelledby="{{ include.name }}-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-xl-down" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="{{ include.name }}-title">
                    {{ include.title }}
                    <small class="text-muted align-middle">{{ include.date }}</small>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col">
                            <p class="lead">{{ include.description }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 d-flex flex-column">
                            {{ include.body }}
                            <h5>Roles</h5>
                            <ul class="list-inline">{{ include.roles }}</ul>
                            <h5 class="text-right">Skills</h5>
                            <ul class="text-right list-inline">{{ include.skills }}</ul>
                            <ol id="{{ include.name }}-indicators" class="carousel-indicators mt-auto border-0">
                                <li data-target="#{{ include.name }}-carousel" data-slide-to="0" class="active">
                                    <img src="../../images/projects/{{ include.name }}-1.png" alt="{{ include.name }} screenshot thumbnail 1">
                                </li>
                                <li data-target="#{{ include.name }}-carousel" data-slide-to="1">
                                    <img src="../../images/projects/{{ include.name }}-2.png" alt="{{ include.name }} screenshot thumbnail 2">
                                </li>
                                <li data-target="#{{ include.name }}-carousel" data-slide-to="2">
                                    <img src="../../images/projects/{{ include.name }}-3.png" alt="{{ include.name }} screenshot thumbnail 3">
                                </li>
                            </ol>
                        </div>
                        <div class="col-lg-6">
                            <div id="{{ include.name }}-carousel" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="../../images/projects/{{ include.name }}-1.png" target="_blank">
                                            <img src="../../images/projects/{{ include.name }}-1.png" class="d-block w-100" alt="{{ include.name }} screenshot 1">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                            <a href="../../images/projects/{{ include.name }}-2.png" target="_blank">
                                                <img src="../../images/projects/{{ include.name }}-2.png" class="d-block w-100" alt="{{ include.name }} screenshot 2">
                                            </a>
                                        </div>
                                    <div class="carousel-item">
                                            <a href="../../images/projects/{{ include.name }}-3.png" target="_blank">
                                                <img src="../../images/projects/{{ include.name }}-3.png" class="d-block w-100" alt="{{ include.name }} screenshot 3">
                                            </a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>