<section id="section-projects">
    <a class="anchor" id="projects"></a>
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-8">
                <h2>Projects</h2>
            </div>
        </div>
        <div class="grid-container" data-aos="fade-up">
            {% for project in site.data.projects %}
            {% assign project_index = forloop %}
            {% assign grid = site.data.projects_grid %}
            <div class="card {{ grid[forloop.index0][0] }}" data-aos="fade-up" data-aos-delay="{{ grid[forloop.index0][1] }}">
                <button type="button" class="card-button btn" data-toggle="modal" data-target="#{{ project.name }}-modal">
                    <div class="card-img-wrapper">
                        <img class="card-img-top" src="/images/projects/{{ project.thumbnail }}" alt="{{ project.name }} screenshot">
                    </div>
                    <div class="card-body align-self-stretch">
                        <h3 class="card-title">{{ project.title }}</h3>
                        <p class="card-text">{{ project.description }}</p>
                    </div>
                </button>
                <div class="modal fade" id="{{ project.name }}-modal" tabindex="-1" role="dialog" aria-labelledby="{{ project.name }}-title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-xl-down" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="{{ project.name }}-title">
                                    {{ project.title }}
                                    <small class="text-muted align-middle">{{ project.date }}</small>
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid p-0">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead">{{ project.description }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 d-flex flex-column">
                                            {{ project.content }}
                                            <h5>Roles</h5>
                                            <ul class="list-inline">
                                                {% for roles in project.roles %}
                                                <li>{{ roles }}</li>
                                                {% endfor %}
                                            </ul>
                                            </ul>
                                            <h5 class="text-right">Skills</h5>
                                            <ul class="text-right list-inline">
                                                {% for skills in project.skills %}
                                                <li>{{ skills }}</li>
                                                {% endfor %}
                                            </ul>
                                            <ol id="{{ project.name }}-indicators" class="carousel-indicators mt-auto border-0">
                                                {% for media in project.media %}
                                                    {% if media contains "png" %}
                                                    <li data-target="#{{ project.name }}-carousel" data-slide-to="{{ forloop.index0 }}" class="active">
                                                        <img src="/images/projects/{{ media }}" alt="{{ project.name }} screenshot thumbnail {{ forloop.index0 }}">
                                                    </li>
                                                    {% elsif media contains "mp4" %}
                                                    <li data-target="#{{ project.name }}-carousel" data-slide-to="{{ forloop.index0 }}" class="active">
                                                        <img src="/images/projects/{{ media | split: '.' | slice: 0 }}-thumbnail.png" alt="{{ project.name }} screenshot thumbnail {{ forloop.index0 }}">
                                                    </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ol>
                                        </div>
                                        <div class="col-lg-6">
                                            <div id="{{ project.name }}-carousel" class="carousel slide">
                                                <div class="carousel-inner">
                                                    {% for media in project.media %}
                                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                        {% if media contains "png" %}
                                                        <a href="/images/projects/{{ media }}" target="_blank">
                                                            <img src="/images/projects/{{ media }}" class="d-block w-100" alt="{{ project.name }} screenshot {{ forloop.index0 }}">
                                                        </a>
                                                        {% elsif media contains "mp4" %}
                                                        <video autoplay muted loop controls>
                                                            <source src="/images/projects/{{ media }}" class="d-block w-100" type="video/mp4">
                                                        </video>
                                                        {% endif %}
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
