<section id="section-skills">
    <a class="anchor" id="skills"></a>
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-8 offset-lg-4">
                <h2>Skills</h2>
                <div class="sub-section">
                    <h3 class="sr-only">Web development</h3>
                    <ul class="list-column-3">
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Javascript</li>
                        <li>Less</li>
                        <li>Sass</li>
                        <li>Bootstrap framework</li>
                        <li>Content management</li>
                        <li>Agile software development</li>
                        <li>Scrum methodology</li>
                    </ul>
                </div>
                <div class="sub-section text-right">
                    <h3>Languages</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item">English</li>
                        <li class="list-inline-item">Japanese 日本語 (Elementary)</li>
                        <li class="list-inline-item">Chinese 中文 (Cantonese, spoken)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>